{% extends "other_base.html" %}
{% block title %}Emotion Prediction{% endblock title %}

{% block content %}

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/profile">Back to Dashboard</a>
        </li>
      </ul>
    </div>
  </nav>
  <h1 class="text-center">Emotion Prediction</h1>
  <div class="container-fluid">
    <form action="/perform-emotion-detection" method="POST">
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Input Text</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="text">{{text}}</textarea>
      </div>
      <button type="submit" class="btn btn-primary">Predict Emotion</button>
    </form>

    {% if response %}
      <div class="result-section">
        <h3>Result</h3>
        <hr />
          <p>
            Excited: {{ round_function(response['emotion']['Excited'] * 100, 3) }}%
          </p>
          <p>
            Fear: {{ round_function(response['emotion']['Fear'] * 100, 3) }}%
          </p>
          <p>
            Bored: {{ round_function(response['emotion']['Bored'] * 100, 3) }}%
          </p>
          <p>
            Sad: {{ round_function(response['emotion']['Sad'] * 100, 3) }}%
          </p>
          <p>
            Happy: {{ round_function(response['emotion']['Happy'] * 100, 3) }}%
          </p>
          <p>
            Angry: {{ round_function(response['emotion']['Angry'] * 100, 3) }}%
          </p>
      </div>
      {% endif %}
  </div>
</body>
{% endblock content %}