{% extends "other_base.html" %}
{% block title %}Name Entity Recognition{% endblock title %}

{% block content %}

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/profile">Back to Dashboard</a>
        </li>
      </ul>
    </div>
  </nav>
  <h1 class="text-center">Name Entity Recognition</h1>
  <div class="container-fluid">
    <form action="/perform-ner" method="POST">
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Input Text</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="text">
{{text}}</textarea>
      </div>
      <button type="submit" class="btn btn-primary">Perform NER</button>
    </form>

    {% if response %}
    <div class="result-section">
      <h3>Result</h3>
      <hr />
      {% for i in response['entities'] %}
      <p>Name: {{ i['name'] }}</p>
      <p>Category: {{ i['category'] }}</p>
      <p>
        Confidence Score: {{ round_function(i['confidence_score'] * 100, 3) }}%
      </p>
      <hr />
      {% endfor %}
    </div>
    {% endif %}
  </div>
</body>
{% endblock content %}