<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <style>
        ul>li>a,p {
          color: white;
        }
      </style>
  </head>
  <body>
    <ul>
        <p>Bhai bhot kuch kruga mai yaha pr</p>
      <li><a href="/ner" >Name Entity Relationship</a></li>
      <li><a href="#" >Abuse Detection</a></li>
      <li><a href="#" >Sentiment Analysis</a></li>
      <li><a href="#" >Kuch to hoga</a></li>
      <li><a href="#" >Yahah bhi kuch hoga</a></li>
    </ul>
  </body>
</html>
